<%= turbo_frame_tag "popup" do %>
  <div class="popup">
    <h1>New post</h1>
    <%= render "form", post: @post %>
    <br>
    <div>
      <%= link_to "Cancel", "#", data: {
        controller: "modals",
        action: "modals#close"
      }, class: "cancel" %>
    </div>
  </div>
<% end %>
